/* MAIN COMPONENTS */

.app * {
  cursor: var(--cursor) !important;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0b17b4;
  font-family: VT323;
}

.screen {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainTitle {
  color: white;
  user-select: none;
}

.toolbar {
  width: 100%;
  height: 40px;
  background-color: #cccccc;
  display: flex;
  flex-direction: row;
}

.icon {
  display: flex;
  position: absolute;
  --cursor: pointer;
  margin: 5px;
  &:hover {
    opacity: 0.8;
  }
}

.clock {
  padding: 3px;
  margin: 5px;
  border-left: solid 1px white;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-top: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: #cccccc;
  border: 1px solid #b9b9b9;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.windowBar {
  background-color: #a9a9a9;
  width: 100%;
  height: 30px;
  border-bottom: solid 1px rgb(143, 143, 143);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.close {
  border-radius: 0%;
  background-color: #cccccc;
  margin: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #b9b9b9;
  }
}

/* BOB OMB GAME */

.bombWindow {
  height: 100%;
}

.bombBg {
  width: 100%;
}

.bobomb {
  position: absolute;
  height: 30px;
  top: 0px;
  left: 0px;
  cursor: grab;
}

.leftBomb {
  height: 130px;
  width: 110px;
  position: relative;
  transform: translate(0, -210px);
}

.rightBomb {
  height: 130px;
  width: 110px;
  position: relative;
  transform: translate(290px, -340px);
}

.startButton {
  transform: translate(150px, -450px);
  height: 50px;
  width: 100px;
  font-size: larger;
  font-weight: 900;
  font-family: vt323;
  background-color: #42b42a;
  color: #f8f8f8;
  cursor: pointer;

  &:hover {
    background-color: #239f0b;
  }
}

.gameOver {
  transform: translate(0px, -565px);
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: grayscale(100%) blur(2px);
  height: 100%;

  button {
    font-size: larger;
    font-weight: 900;
    font-family: vt323;
    height: 50px;
    width: 100px;
    background-color: #42b42a;
    cursor: pointer;
    color: #f8f8f8;

    &:hover {
      background-color: #239f0b;
    }
  }
  p {
    font-size: 50px;
    font-weight: 900;
    color: black;
    background-color: #ebeb00;
    border: solid;
    padding: 5px;
    opacity: 80%;
  }
  span {
    transform: translate(0, -30px);
    color: white;
    font-weight: 700;
    font-size: 20px;
  }
}

.score {
  position: absolute;
  transform: translate(10px, -50px);
  font-size: 20px;
  font-weight: 900;
}

/* AUTOMATA  */

#canvas {
  width: 100%;
  height: 100%;
}

.automata__toolbar-button {
  color: #474747;
  --cursor: pointer;
}

/* UTILITY CLASSES */
.has-grow {
  flex-grow: 1;
}

/* CURSORS  */

.cursor {
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.cursorImg {
  height: 50px;
  width: 50px;
}

.cursorButton {
  cursor: pointer;
  height: 50px;
  width: 50px;
}

.bubble {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  height: 20px;
  width: 20px;
  backdrop-filter: invert(100%);
  border-radius: 50%;
}

button {
  --cursor: pointer;
  font-family: VT323;
  font-size: 20px;
  font-weight: 900;
}

.settings__button {
  background-color: #cccccc;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  
  &:hover {
    background-color: #b9b9b9;
    
  }
}

.automata__color-pickers {
  display: flex;
  flex-direction: row;
  align-items: center;
}